@font-face {
    font-family: PlanetEarth;
    src: url(KBPlanetEarth.ttf);
    font-weight:400;
}

.nulis{
  font-family: PlanetEarth;
  font-size: 1.5vw; 
  text-align: center;
}

.nulis.login{
  font-size: 6vw;
  text-align: center;
  color: #fff;
}

.nulis.register{
  font-size: 4vw;
  text-align: center;
  color: #fff;
}

.vertical-center {
  height: 100%;  /* Fallback for browsers do NOT support vh unit */
  

  display: relative;
  align-items: center;
}

.font-nulis{
	font-family: PlanetEarth;
	color: white;
}

.href-nulis{
	font-family: PlanetEarth;
	color: white;
	font-size: 2rem;
}

.col-centered{
  float:none;
  margin:0 auto;
}