 #load {
    visibility: hidden; 
    height: 0px;
}
@font-face {
    font-family:easyFont; 
    src: url('../css/KGPrimaryDotsLined.ttf');
} 
@font-face {
    font-family:mediumFont; 
    src: url('../css/KGPrimaryDots.ttf');
} 
@font-face {
    font-family:century; 
    src: url('../css/century.ttf');
} 