.active-nav{ 
    background-color: white;
}


body {
    margin:0px;
    width:100%;
    height:100%;
    font-family:Arial;
    /* prevent text selection on ui */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* prevent scrolling in windows phone */
    -ms-touch-action: none;
    /* prevent selection highlight */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#canvas{
    cursor:crosshair ;
}

#canvasHuruf{
    cursor:crosshair ;
}
.footer{
    position: absolute;
    background-color: #fff;
    text-align: center;
}
.headera{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-style: dashed;
}
.palette-case {
    width:=100%;
    margin:auto;
    text-align:center;
}
.palette-box {
    float:left;
    padding:2px 6px 2px 6px;
}
.palette {
    border:2px solid #777;
    height:36px;
    width:36px;
}
.red{
    background-color:#c22;
}
.blue{
    background-color:#22c;
}
.green{
    background-color:#2c2;
}
.white{
    background-color:#fff;
}
.black{
    background-color:#000;
    border:2px dashed #fff;
}
.grey{
    background-color:#DDDDDD;
}
.grey2{
    background-color:#877D7D;
}
